<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ASKMate</title>
</head>
<body>
    <div style="text-align:center">
    <h1>Welcome in ASK Mate World!</h1>
    <h2>Are you ready to ask your question and discover a new dimension?</h2>
        <img src="https://images.squarespace-cdn.com/content/v1/5ea237e587e03021f9ef8cc2/1591321482139-5N4EC0SIATZQYDTX8I3G/Question-mark.jpg?format=1000w" alt="Question">
    <h2>Ask the question. Change a life.</h2>
    <a href="{{url_for('question_table')}}"><button>Ask a Question</button></a>
    </div>
</body>
</html>